/* resources/css/filament/admin/theme.css */
@import "../../../../vendor/filament/filament/resources/css/theme.css";

@config './tailwind.config.js';

/******************/
/* Custom Tailwind */
/******************/

/* HIDE THE SIDE BAR */

.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}

.fi-sidbar-nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* MAIN FRAME */
body.fi-body {
    /* @apply bg-slate-50 dark:bg-gray-950; */
}
main.fi-main {
    @apply px-2;
}

/* SIDE BAR */

aside.fi-sidebar {
    @apply bg-blue-900 dark:bg-gray-900;

    & .fi-sidebar-nav-groups {
        @apply gap-y-0;
    }

    & .fi-sidebar-nav {
        @apply px-3 pt-0;

        & li.fi-sidebar-item {
            & .fi-sidebar-item-label,
            .fi-sidebar-item-icon {
                @apply text-gray-100 font-semibold;
            }
        }

        & li.fi-sidebar-item-active,
        li.fi-sidebar-item:hover {
            & .fi-sidebar-item-label,
            .fi-sidebar-item-icon {
                @apply text-blue-800 dark:text-blue-500 font-semibold;
            }
        }

        & .fi-sidebar-group-button span,
        button {
            @apply text-blue-200 dark:text-gray-500;
        }
    }

    /* Header (Inside Sidebar) */
    header.fi-sidebar-header {
        @apply bg-blue-800 h-12 dark:bg-gray-900;

        & .fi-logo {
            @apply text-white;
        }
    }
}

/* TOP BAR */
div.fi-topbar nav {
    @apply bg-blue-800 h-12 dark:bg-gray-900;
}


/* TABLE */
/* table.fi-ta-table{

} */